header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--dark-blue);
}

ul {
    display: flex;
    gap: 20px;
}


a {
    color: var(--light-gray);
    font-size: 18px;
    transition: 0.5s;
}

a:hover{
    color: var(--cream);
}

.button {
    padding: 8px 12px;
    background-color: var(--blue);
    border-radius: 5px;
}

.button:hover {
    background-color: #146dfc;
}

.header-logo{
    font-size: 24px;
    font-weight: 500;
    color: var(--cream);
    cursor: default;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 20px;
    background-color: var(--dark-blue);
}

.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 480px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: var(--cream);
}

.hero-text{
    font-size: 18px;
    color: var(--light-gray);
}

.hero-button{
    background-color: var(--blue);
    color: var(--cream);
    width: 112px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.hero-button:hover{
    background-color: #146dfc;
}

.right{
    max-width: 480px;
}

.hero-image{
    border-radius: 10px;
}

.info{
    background-color: var(--cream);
    padding: 50px 20px;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: var(--dark-blue);
    margin-bottom: 40px;
}

.info-container{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    flex-basis: 360px;
    justify-items: flex-start;
    align-items: center;
    gap: 10px;
}

.box-text{
    font-size: 18px;
    color: var(--dark-blue);
    max-width: 210px;
    text-align: center;
}

.image-container{
    width: 210px;
}

.box-img{
    border: 5px solid var(--blue);
    border-radius: 15px;
}