header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--dark-blue);
}

ul {
    display: flex;
    gap: 20px;
}


a {
    color: var(--light-gray);
    font-size: 18px;
    transition: 0.5s;
}

a:hover{
    color: var(--cream);
}

.button {
    padding: 8px 12px;
    background-color: #df2834;
    border-radius: 5px;
}

.button:hover {
    background-color: #BF313B;
}

.header-logo{
    font-size: 24px;
    font-weight: 500;
    color: var(--cream);
    cursor: default;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: var(--dark-blue);
}

.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 480px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: var(--cream);
}

.hero-text{
    font-size: 18px;
    color: var(--light-gray);
}

.hero-button{
    background-color: var(--blue);
    color: var(--cream);
    width: 112px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.hero-button:hover{
    background-color: #146dfc;
}

.right{
    max-width: 480px;
}

.hero-image{
    border-radius: 10px;
}